@import url("https://cdn.syncfusion.com/ej2/material.css");
.splitScreen {
  display: "flex";
  flex-direction: "row";
}

.topPane {
  width: "50%";
  height: "100 vh";
}

.bottomPane {
  width: "50%";
  height: "100 vh";
}

.form {
  margin-top: 200px;
  margin-left: 100px;
}
