@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.splitScreen {
  display: "flex";
  flex-direction: "row";
}

.topPane {
  width: "50%";
  height: "100 vh";
}

.bottomPane {
  width: "50%";
  height: "100 vh";
}

.form {
  margin-top: 200px;
  margin-left: 100px;
}

ul {
  list-style-type: none;
  display: "flex";
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
